/* CSS Document */

body{background:#fff url('../images/background.gif') repeat-x 0 0;color:#4F4F4F;font-family: Arial, sans-serif;font-size: 14px;}
a{color: #2B7CA5;text-decoration: none;}
a:hover{text-decoration: underline;}
h3{font-size:16px;text-transform:uppercase;font-style:italic;margin-bottom:15px;}
#head, #ban, #deets, #foot, .container_12{clear:both;}

/* head */
#head{height:128px;}
#head #logo{display:block;height:128px;width:220px;text-indent:-9999px;background:#fff url('../images/logo.png') no-repeat 0 0; }
#head #addthis {margin:20px 0 0; text-align:right;}
#head #addthis span {background:#fff url('../images/addThis.png') no-repeat 44px 0; display:block; height:34px; text-align:right; margin:55px 0 0; padding:12px 0 0;}
#atff {display:none;}

/* ban */
#ban{height:290px;background-image:url('../images/ban.jpg');}
#ban h1, #ban h2{text-indent:-9999px;}
#ban a#reg{display:block;height:40px;width:140px;background:#af2024 url('../images/registerBtn.png') no-repeat 0 0;text-indent:-9999px; position:relative; left:30px; top:176px;}
#ban a#reg:hover{background-position:0 -40px;}
#ban #photoCredits{ width:300px; height:130px; position:absolute; top:290px; margin-left:640px; display:block; text-indent:-9999px;}

/* deets */
#deets{margin-top:35px;}
#deets p#mission{font-size:20px;margin-bottom:30px;color:#999;line-height:1.5;}
#deets ul{margin:0 15px;}
#deets ul li{line-height:1.25; list-style-type:disc; margin:0 10px 10px;}

/* foot */
#foot{border-top:solid 2px #999; margin:40px 0 0;}
#foot p{font-size:12px;color:#999;line-height:1.5;}
#copyright{display:block; background:url('../images/cc.png') no-repeat 0 0; padding:15px 0 15px 50px; position:relative; top:-10px;}
#Whitmoyer{text-align:right; display:block; background:url('../images/Whitmoyer.png') no-repeat 50px 0; padding:15px 0; position:relative; top:-10px; width:100%; }